<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>
  <!-- nav bar -->
  <nav>
    <a href="../home/index.html">home</a>
  </nav>
  <!-- End of nav bar -->
  <h1>About me</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
     quam voluptatum ipsum unde error atque beatae tempora officiis id ducimus distinctio, alias dolores nam incidunt delectus inventore perspiciatis exercitationem velit nemo a minus repudiandae praesentium dicta rem. Et minus quis adipisci culpa animi dolore eveniet doloremque ea, possimus quisquam illo sequi eius molestiae cum sint rem cumque. Nihil aspernatur eveniet enim veritatis maxime voluptas culpa doloremque at aperiam, sint expedita sed, nisi eum soluta ut. Modi inventore voluptatibus repellat. Excepturi culpa ducimus, saepe eius sapiente dolore, tempora nulla veritatis nihil eveniet minus provident. Modi expedita magni laborum qui praesentium officia.</p>
     <div>
      <h2>How to download vscode</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus minima quibusdam minus iusto, architecto fugit.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus minima quibusdam minus iusto, architecto fugit.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus minima quibusdam minus iusto, architecto fugit.</p>
     </div>
     <section>
      <h2>How to download Git</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus minima quibusdam minus iusto, architecto fugit.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus minima quibusdam minus iusto, architecto fugit.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus minima quibusdam minus iusto, architecto fugit.</p>
     </section>
</body>
</html>